.clockContainer {
    text-align: center;
    list-style: none;

    .timeText {
        color: white;
        font-size: 2.5em;
    }
    
    
    .dowText {
        color: white;
        font-size: 2em;
    }

    .dateText {
        color: white;
    }

}



