.clockContainer {
    text-align: center;
    list-style: none;

    .clock {
        height: 100px;
        width: 400px;
        font-family: 'Verdana';
        color: white;
        font-size: 50px;
        margin: 20px;
    }
}

