.st {
    width: 40%;
    margin: 0 auto;
}

.stc {
    text-align: center;
    white-space: nowrap;  
    color: white;  
}

#arrow-up {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid green;
}

#arrow-down {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid red;
}