.weather-container {
    text-align: center;
    list-style: none;
    padding-top: 10px;
    color: white;

    .w-text {
        font-size: 2.5em;
    }

    .w-sub-text {
        font-size: 1.5em;
    }

}